*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
h1{
   display: flex;
   flex-direction: column;
   align-items: center;
}

main{
   display: flex;
   height: 100vh;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5vh;
   
}

.button{
   width: 100px;
   height: 30px;
   border-radius: 5px;
}

img{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 15%;
   margin-left: 0em;
   margin-top: 0em;
   margin-right: 0em;
   margin-bottom: 0em;
}